body {
        background-color: #111827;
}

.card {
    width: 200px;
    height: 200px;
    perspective: 1000px;
    position: relative;
    border: none; /* Added */
    outline: none; /* Added */
    margin: 0;
    padding: 0;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 10px;
  }

  .category-name {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    grid-column-end: span 1;
    color: white;
  }


  .card-front{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
  }

  .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
  }

  .card-front {
    background: #1B2533;
    color: white;
  }

  .card-back {
    background: #5592DE;
    color: white;
    transform: rotateY(180deg);
  }

  .card.flipped .card-front {
    transform: rotateY(180deg);
  }

  .card.flipped .card-back {
    transform: rotateY(0);
  }

  .user-input {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .user-input input {
    margin-right: 10px;
  }

  .button {
    align-items: center;
  }
